<% provide(:title, "Edit Document")%>
<div class="medium-6 columns medium-offset-3">
    <h1>Edit Document</h1>
        <%= form_for(@document) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%=f.label :author  %>
            <%= f.text_field :author %><br>

            <%= f.label :title %>
            <%= f.text_field :title %><br>

            <%= f.label :link %>
            <%= f.text_field :link %><br>

            <%= f.label :tag %>
            <%= f.text_field :tag %><br>

            <%= f.label :department %>
            <%= f.select  :department ,Document::DEPARTMENT, prompt: "Select department"%><br>

            <%= f.label :content %>
            <%= f.text_area :content, rows: "20"%><br>

            <%= f.submit "Update Document" %>

        <% end %>
</div>
