<% provide(:title, "New Doc")%>
<div class="medium-6 columns medium-offset-3">
    <h1>New Document</h1>
        <%= form_for(@document) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%=f.label :author  %>
            <%= f.text_field :author %>

            <%= f.label :title %>
            <%= f.text_field :title %>

            <%= f.label :link %>
            <%= f.text_field :link %>

            <%= f.label :tag %>
            <%= f.text_field :tag %>

            <%= f.label :department %>
            <%= f.select  :department ,Document::DEPARTMENT, prompt: "Select department"%>

            <%= f.label :content %>
            <%= f.text_area :content, rows: "10"%>

            <%= f.submit "Submit" %>

        <% end %>
</div>
