<div class="top-bar" id="example-menu">
    <div class="top-bar-right">
        <nav>
            <ul class="dropdown menu" data-dropdown-menu>
                <li> <%= link_to fa_icon('home',text: "Home"), root_path %></li>
                <li> <%= link_to fa_icon('phone',text: "Contact"), contact_path %></li>
                <% if logged_in? %>
                    <li> <%= link_to fa_icon('users', text: "Users"), users_path %></li>
                    <li> <%= link_to fa_icon('book', text: "Documents"), documents_path %></li>
                    <li><%= link_to fa_icon('user', text: "Profile"), current_user %></li>
                    <li> <%= link_to fa_icon('sign-out', text: "Logout"), logout_path, method: "delete" %></li>
                <% else %>
                    <li> <%= link_to fa_icon('sign-in', text:"Login"), login_path %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</div>
